*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 }
 .container{
    text-align: center;
    background-color: rgb(238, 240, 240);
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .table{
    border: 0;
 }
 .content-one{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid rgb(21, 26, 26);
    background-color: white;
    padding:30px 70px;
 }
 .content{
    border-radius: 10px;
    border-color: rgb(24, 199, 199);
    background-color: white;
    padding:30px 70px;
 }
 h1{
    color:brown;
 }
 p{
    color:darkolivegreen;
    padding-top:15px;
 }